/*
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
	}

	header
	{
		margin-bottom: 0em;
	}

		header h2
		{
			font-size: 3.4em;
		}

		header .byline
		{
			font-size: 1.7em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 10em 0 6em 0;
	}

	.homepage #header
	{
		/*padding: 16em 0 12em 0;*/
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em;
	}

	.homepage #content header h2
	{
		padding: 0.70em 0em;
		font-size: 2.2em;
	}

	#sidebar h2
	{
		font-size: 2.4em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding-top: 7em;
		padding-bottom: 6em;
	}

	.team{
		margin-left: 300px;
	}

	.aboutUsContainer{
		width: 50%;
 		margin: 0 auto;
	}
	.apps-craft-team-img{
		width: 50%;
 		margin: 0 auto;
	}

	.apps-craft-team-bio{
		width: 50%;
 		margin: 0 auto;

	}

	@media (min-width: 1200px)
	bootstrap.min.css:5
	.container {
	    width: 1170px;
	}
	@media (min-width: 992px)
	bootstrap.min.css:5
	.container {
	    width: 970px;
	}
	@media (min-width: 768px)
	bootstrap.min.css:5
	.container {
	    width: 750px;
	}
	bootstrap.min.css:5
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	style.css:79
	a, b, div, ul, li {
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    -webkit-tap-highlight-color: transparent;
	    -moz-outline-: none;
	}
	bootstrap.min.css:5
	* {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	user agent stylesheet
	div {
	    display: block;
	}
	Inherited from div.team-parallax-bg.section-padding.skrollable.skrollable-between
	style.css:79
	a, b, div, ul, li {
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    -webkit-tap-highlight-color: transparent;
	    -moz-outline-: none;
	}
	Inherited from body.ready
	style.css:66
	body {
	    font-family: 'Poppins', sans-serif;
	    font-size: 14px;
	    font-weight: 300;
	    line-height: 1.5;
	    color: #666666;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    overflow-x: hidden;
	}
	bootstrap.min.css:5
	body {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #333;
	    background-color: #fff;
	}
	Inherited from html.js.csstransforms3d.skrollr.skrollr-desktop
	bootstrap.min.css:5
	html {
	    font-size: 10px;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	bootstrap.min.css:5
	html {
	    font-family: sans-serif;
	    -webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	}
	Pseudo ::before element
	bootstrap.min.css:5
	.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	    display: table;
	    content: " ";
	}
	bootstrap.min.css:5
	:after, :before {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	Pseudo ::after element
	bootstrap.min.css:5
	.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
	    clear: both;
	}
	bootstrap.min.css:5
	.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	    display: table;
	    content: " ";
	}
	bootstrap.min.css:5
	:after, :before {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		padding-left: 0;
		padding-right: 0;
		padding-top: 5em;
		padding-bottom: 2em;
	}

	#featured h3
	{
		padding: .5em 0em;
		font-size: 2em;
	}

	#featured header
	{
		margin-bottom: 3em;
	}

	#featured p
	{
		line-height: 2em;
		font-size: 1.2em;
	}

/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/

	#tweet
	{
		padding: 8em 0em;
	}

	#tweet blockquote
	{
		margin: 0;
		/*padding: 1em 4em;*/
		/*line-height: 1.5em;*/
		font-size: 2.5em;
	}
